<?xml version="1.0" encoding="utf-8"?>
<!-- Só o debug aponta para o network_security_config de QA (cleartext em 10.0.2.2). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:networkSecurityConfig="@xml/network_security_config" />
</manifest>
